/* sidebar edit start */

.sidebar .sidebar-item.categories .content .sidebar-sub{
    margin-left: 20px ;
}
.sidebar .sidebar-item.categories .content .sidebar-sub .sub-list{
    margin-bottom: 0;
}
.sidebar-sub .sub-list a{
    color: #aaa !important;
}
.sidebar-sub .sub-list a:hover{
    color: #f48840 !important;
}

/* sidebar edit end */

/* toastr message */
.swal2-container.swal2-top-end.swal2-backdrop-show{
    z-index: 99999 !important;
}

/* comment reply box of single page */
textarea#reply-text {
    height: 50px;
}





